<div class="header-top-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="logo-area">
          <a href="#" style="color: #FFF; font-size: 20px">Roméochoco</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-menu-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="mobile-menu-nav">
              <li><a data-toggle="collapse" routerLink="/">Accueil</a>
              </li>
              <li><a data-toggle="collapse" data-target="#demoevent" routerLink="article/posts">Liste des articles</a>
              </li>
              <li><a data-toggle="collapse" data-target="#democrou" routerLink="article/add">Poster un article</a>
              </li>
              <li><a data-toggle="collapse" data-target="#demolibra" routerLink="shop/list">Liste des produits</a>
              </li>
              <li><a data-toggle="collapse" data-target="#demodepart" routerLink="shop/item">Ajouter un produit</a>
              </li>
              <li><a data-toggle="collapse" data-target="#demo" routerLink="qrcode">Liste des QRCode</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-menu-area mg-tb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
          <li class="active"><a data-toggle="tab" routerLink="/"><i class="notika-icon notika-house"></i> Accueil</a>
          </li>
          <li><a data-toggle="tab" routerLink="article/posts"><i class="notika-icon notika-mail"></i> Liste des articles</a>
          </li>
          <li><a data-toggle="tab" routerLink="article/add"><i class="notika-icon notika-edit"></i> Poster un article</a>
          </li>
          <li><a data-toggle="tab" routerLink="shop/list"><i class="notika-icon notika-bar-chart"></i> Liste des articles</a>
          </li>
          <li><a data-toggle="tab" routerLink="shop/item"><i class="notika-icon notika-windows"></i> Ajouter un article</a>
          </li>
          <li><a data-toggle="tab" routerLink="qrcode"><i class="notika-icon notika-form"></i> Liste des QRCode</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

